extends layout

block content
    script(src='javascripts/vertex.js')
    script(src='javascripts/background.js')

    // global background
    div#canvasBackground
    header#home
        // top navbar
        nav#nav-wrap
            ul.nav#nav
                li.current
                    a.smoothscroll(href='#home') Home
                li
                    a.smoothscroll(href='#about') About
                li
                    a.smoothscroll(href='#resume') Resume
                li
                    a.smoothscroll(href='#skills') Skills
                li
                    a.smoothscroll(href='#works') Works
                li
                    a.smoothscroll(href='#contact') Contact

            // toggle the dynamic background (it is pretty gpu intensive)
            // TODO: when toggle is hovered provide them with info about how to change settings
            label.switch#performance
                input(type='checkbox', checked='true', onchange='pause()')
                span.slider
        // main info banner
        div.banner-head
            h1.responsive-headline.title-name Conrad Heidebrecht
            // note for multiline raw text, either put a `.` after the tag, or start each new line with a `|`.
            h3 I'm a <a href='https://uwaterloo.ca/systems-design-engineering'>Systems Design Engineering</a> student
                | at the <a href='https://uwaterloo.ca'>University of Waterloo</a> with a passion for <span>web</span> &
                | <span>Android</span> development and <span>machine learning</span>. Let's
                | start scrolling and <a class='smoothscroll local' href='#about'>learn more</a>!
            hr
            ul.social
                li
                    a(href='https://github.com/eternali')
                        i.fa.fa-github
                li
                    a(href='https://linkedin.com/in/conrad-heidebrecht-651395149')
                        i.fa.fa-linkedin

        // scrolldown button
        p.scrolldown
            a.smoothscroll(href='#about')
                i.icon-down-circle

    // ABOUT section //
    section#about
