extends layout

block content

    // global background
    div#canvasBackground
    header#home
        // top navbar
        nav#nav-wrap
            ul#nav-custom
                li.current
                    a.smoothscroll(href='#home') Home
                li
                    a.smoothscroll(href='#about') About
                li
                    a.smoothscroll(href='#resume') Resume
                li
                    a.smoothscroll(href='#skills') Skills
                li
                    a.smoothscroll(href='#works') Works
                li
                    a.smoothscroll(href='#contact') Contact

            // toggle the dynamic background (it is pretty gpu intensive)
            // TODO: when toggle is hovered provide them with info about how to change settings
            label.switch#performance
                input(type='checkbox', checked='true', onchange='pause()')
                span.slider
        // main info banner
        div.banner-head
            h1.responsive-headline.title-name Conrad Heidebrecht
            // note for multiline raw text, either put a `.` after the tag, or start each new line with a `|`.
            h3 I'm a <a href='https://uwaterloo.ca/systems-design-engineering'>Systems Design Engineering</a> student
                | at the <a href='https://uwaterloo.ca'>University of Waterloo</a> with a passion for <span>web</span> &
                | <span>Android</span> development and <span>machine learning</span>. Let's
                | start scrolling and <a class='smoothscroll local' href='#about'>learn more</a>!
            hr
            ul.social
                li
                    a(href='https://github.com/eternali')
                        i.fa.fa-github
                li
                    a(href='https://linkedin.com/in/conrad-heidebrecht-651395149')
                        i.fa.fa-linkedin

        // scrolldown button
        p.scrolldown
            a.smoothscroll(href='#about')
                i.icon-down-circle

    // ABOUT section //
    section#about.pt-32.pb-32.mt-32.mb-32
        div.container-fluid
            div.row
                div.col-4
                div.col-4(align='center').profile-container
                    img.profile-pic(src='images/profilepic.jpeg', alt='')
                    p#photocreds
                        span.circle-char P
                        span.circle-char h
                        span.circle-char o
                        span.circle-char t
                        span.circle-char o
                        span.circle-char 
                        span.circle-char b
                        span.circle-char y
                        span.circle-char 
                        span.circle-char M
                        span.circle-char a
                        span.circle-char r
                        span.circle-char y
                        span.circle-char 
                        span.circle-char M
                        span.circle-char c
                        span.circle-char P
                        span.circle-char h
                        span.circle-char e
                        span.circle-char e
                div.col-4
            div.row
                div.col-8(align='left')
                    h2 About Me
                    p I am a Systems Design Engineering student at the University of Waterloo in my first year.
                        | My main interests are for web and Android development, computer hardware, cyber security,
                        | and machine learning. I have experience through the study of several online courses as
                        | well as creating several websites from scratch as well as coding browser based applications
                        | and games with HTML5 and libraries such as P5.js and Matter.js. I also have several personal
                        | Android applications in development and my knowledge is growing rapidly. I have been most
                        | recently fascinated with machine learning and artificial intelligence. I have taken several
                        | online courses on the subject and have researched and designed my own projects that
                        | demonstrate the power of machine learning.
                div.col-4(align='right')
                    h2 Contact Details
                    ul
                        li Conrad Heidebrecht
                        li 67 Agnes Street
                        li Kitchener, ON N2G 2E9, Canada
                        li (519) 501-4327
                        li <a href='mailto:crbheide@edu.uwaterloo.ca'>crbheide@edu.uwaterloo.ca</a>
            div.row
                div.col-4
                div.col-4(align='center')
                    p
                        a.button(href='/resume.pdf') <i class='fa fa-download'>&emsp;Download Resume</i>
                div.col-4

    // RESUME section //
    section#resume
        div.container-fluid
            // FORMAL EDUCATION
            div.row.mb-5
                div.col-3.mt-5.resume-title(align='left')
                    h1 <span>Formal Education</span>
                div.col-9.formal-body(align='right')
                    ul.formal-education
                        li
                            div
                                h2 University of Waterloo
                                span.location Waterloo, ON
                            div
                                span.degree Candidate for Bachelor of Applied Science
                                span.date Sept. 2017 - present
                        li
                            div
                                h2 Rockway Mennonite Collegiate
                                span.location Kitchener, ON
                            div
                                span.degree Ontario Secondary School Diploma
                                span.date Jun. 2017
            div.row
                div.col-1
                div.col-10 <hr />
                div.col-1
            // SUPPLEMENTARY EDUCATION
            div.row.mb-5
                div.col-3.mt-5.resume-title(align='left')
                    h1 <span>Supplementary Education</span>
                div.col-9.supplementary-body(align='right')
                    ul.supplementary-education
                        li
                            h2 Neural Networks for Machine Learning
                            div
                                span.description University of Toronto via Coursera.org
                                span.date Jun. 2017 - present
                        li
                            h2 Machine Learning Course
                            div
                                span.description Stanford University via Coursera.org
                                span.date Jun. 2016 - Sept. 2016
                        li
                            h2 Biomedical Mini-Enrichment Course
                            div
                                span.description Carleton University
                                span.date May 2015
                        li
                            h2 Physics Mini-Enrichment Course
                            div
                                span.description University of Ottawa
                                span.date May 2013
            div.row
                div.col-1
                div.col-10 <hr />
                div.col-1
            // WORK
            div.row.mb-5
                div.col-3.mt-5.resume-title(align='left')
                    h1 <span>Work</span>
                div.col-9.work-body(align='right')
                    ul.work
                        li
                            h2 University of Waterloo Computer Museum
                            div
                                span.title Museum Technician
                                span.date Oct. 2016 - Sept. 2017
                            div.description
                                ul
                                    li <span class='lititle'>Collective Access:&nbsp;</span>
                                        | Collective Access is an open source software for managing and publishing
                                        | museum and archival collections.
                                    li <span class='lititle'>Server Administration:&nbsp;</span>
                                        | I set up multiple Ubuntu web servers for both testing and production purposes
                                        | as well as developed several custom scripts to streamline project installation
                                        | and backup, data import and export, and project configuration.

    // SKILLS section //
    section#skills
        div.container-fluid.pb-5
            div.row.pt-5.pb-5
                div.col-12.mt-3(align='center') <h1>Skills</h1>
            // special three-way toggler
            div.row
                div.col-3
                div.col-6(align='center')
                    div.toggle3-container
                        div.range-field
                            input(type='range', name='points', onchange='toggleSkills(this);', min='0', max='2', value='1')
                div.col-3
            div.row
                div#langmsg.col-4.toggle3-msg(align='right') Languages
                div#bothmsg.col-4.toggle3-msg(align='center') Both
                div#techmsg.col-4.toggle3-msg(align='left') Technologies
            // start the icons
            div.row.mt-4.vertical-align
                div.col-2.mt-3.mb-3(align='center')
                    img.langpic(src='images/python.ico')
                    span.skillName PYTHON
                div.col-2.mt-3.mb-3(align='center')
                    img.langpic(src='images/javascript.png')
                    span.skillName JAVASCRIPT
                div.col-2.mt-3.mb-3(align='center')
                    img.langpic(src='images/kotlin.png')
                    span.skillName KOTLIN
                div.col-2.mt-3.mb-3(align='center')
                    img.langpic(src='images/java.png')
                    span.skillName JAVA
                div.col-2.mt-3.mb-3(align='center')
                    img.langpic(src='images/cpp.png')
                    span.skillName C++
                div.col-2.mt-3.mb-3(align='center')
                    img.techpic(src='images/tux.png')
                    span.skillName LINUX
            div.row.mt-4.vertical-align
                div.col-2.mt-3.mb-3(align='center')
                    img.langpic(src='images/HTML5.png')
                    span.skillName HTML5
                div.col-2.mt-3.mb-3(align='center')
                    img.langpic(src='images/CSS3.png')
                    span.skillName CSS3
                div.col-2.mt-3.mb-3(align='center')
                    img.langpic(src='images/mysql.png')
                    span.skillName MYSQL
                div.col-2.mt-3.mb-3(align='center')
                    img.langpic(src='images/octave.png')
                    span.skillName OCTAVE
                div.col-2.mt-3.mb-3(align='center')
                    img.langpic(src='images/latex.png')
                    span.skillName LATEX
                div.col-2.mt-3.mb-3(align='center')
                    img.techpic(src='images/git.png')
                    span.skillName GIT
            div.row.mt-4.vertical-align
                div.col-2.mt-3.mb-3(align='center')
                    img.techpic(src='images/three.png')
                    span.skillName THREE.JS
                div.col-2.mt-3.mb-3(align='center')
                    img.techpic(src='images/jquery.png')
                    span.skillName JQUERY
                div.col-2.mt-3.mb-3(align='center')
                    img.techpic(src='images/numpy.png')
                    span.skillName NUMPY
                div.col-2.mt-3.mb-3(align='center')
                    img.techpic(src='images/pixi.png')
                    span.skillName PIXI.JS
                div.col-2.mt-3.mb-3(align='center')
                    img.techpic(src='images/arduino.png')
                    span.skillName ARDUINO
                div.col-2.mt-3.mb-3(align='center')
                    img.techpic(src='images/virtualbox.png')
                    span.skillName VIRTUALBOX
            div.row.mt-4.vertical-align
                div.col-2.mt-3.mb-3(align='center')
                    img.techpic(src='images/bootstrap.png')
                    span.skillName BOOTSTRAP
                div.col-2.mt-3.mb-3(align='center')
                    img.techpic(src='images/nodejs.png')
                    span.skillName NODE.JS
                div.col-2.mt-3.mb-3(align='center')
                    img.techpic(src='images/stylus.png')
                    span.skillName STYLUS
                div.col-2.mt-3.mb-3(align='center')
                    img.techpic(src='images/pug.svg')
                    span.skillName PUG
                div.col-2.mt-3.mb-3(align='center')
                    img.techpic(src='images/express.png')
                    span.skillName EXPRESS
                div.col-2.mt-3.mb-3(align='center')
                    img.techpic(src='images/vue.png')
                    span.skillName VUE
            div.row.mt-4.vertical-align
                div.col-2.mt-3.mb-3(align='center')
                    img.techpic(src='images/docker.png')
                    span.skillName DOCKER
                div.col-2.mt-3.mb-3(align='center')
                    img.techpic(src='images/aws.jpg')
                    span.skillName AMAZON WEB SERVICES
                div.col-2.mt-3.mb-3(align='center')
                    img.techpic(src='images/gitlab.png')
                    span.skillName GITLAB CI
                div.col-2.mt-3.mb-3(align='center')
                    img.techpic(src='images/terraform.png')
                    span.skillName TERRAFORM
                div.col-2.mt-3.mb-3(align='center')
                    img.techpic(src='images/mocha.png')
                    span.skillName MOCHA
                div.col-2.mt-3.mb-3(align='center')
                    img.techpic(src='images/chai.png')
                    span.skillName CHAI
            div.row.mt-4.vertical-align
                div.col-2.mt-3.mb-3(align='center')
                    img.techpic(src='images/flutter.jpg')
                    span.skillName FLUTTER
                div.col-2.mt-3.mb-3(align='center')
                    img.langpic(src='images/dart.png')
                    span.skillName DART
                div.col-2.mt-3.mb-3(align='center')
                    img.techpic(src='images/gradle.png')
                    span.skillName GRADLE
                div.col-2.mt-3.mb-3(align='center')
                    img.techpic(src='images/android-studio.png')
                    span.skillName ANDROID STUDIO
                div.col-2.mt-3.mb-3(align='center')
                    img.techpic(src='images/jenkins.png')
                    span.skillName JENKINS
                div.col-2.mt-3.mb-3(align='center')
                    img.techpic(src='images/qunit.png')
                    span.skillName QUNIT

    // WORKS section //
    section#works
        div.container-fluid
            div.row.pt-5
                div.col-12.mt-3(align='center') <h1>check out some of my projects!</h1>
            // start projects
            div.row.mb-4(align='center')
                div.col-3.mt-3.mb-3.pl-0.pr-0(align='center')
                    a(href='https://devpost.com/software/defensematrix-5xujtk')
                        img.workpic(src='images/works/defmatrix01.png')
                        div.overlay
                            span.name Defense Matrix
                            p Scripting - Serverside
                            div.link-icon <i class="icon-plus"></i>
                            //span.desc A security solution for Linux servers including automatic firewall setup, password
                                | complexity checking, rootkit detection and attack visualization.
                div.col-3.mt-3.mb-3.pl-0.pr-0(align='center')
                    a(href='https://github.com/eternali/limen')
                        img.workpic(src='images/works/limen01.png')
                        div.overlay
                            span.name Limen
                            p Scripting - Serverside
                            div.link-icon <i class="icon-plus"></i>
                            //span.desc A utility for saving and reading valuable information using AES encryption.
                div.col-3.mt-3.mb-3.pl-0.pr-0(align='center')
                    a(href='https://devpost.com/software/synk-ronized-programming')
                        img.workpic(src='images/works/synk01.jpg')
                        div.overlay
                            span.name Synkronized Coding
                            p Scripting - Python
                            div.link-icon <i class="icon-plus"></i>
                            //span.desc A script that enables multiple coders to work on the same file at the same time,
                                | in real time.
                div.col-3.mt-3.mb-3.pl-0.pr-0(align='center')
                    a(href='#quadcopter')
                        img.workpic(src='images/works/quadcopter01.jpg')
                        div.overlay
                            span.name Custom Quadcopter
                            p Hardware - Robotics
                            div.link-icon <i class="icon-plus"></i>
                            //span.desc I built a custom quadcopter piece by piece, using the MultiWii flight control system.
            div.row.mt-4.mb-4
                div.col-3.mt-3.mb-3.pl-0.pr-0(align='center')
                    a(href='#pc')
                        img.workpic(src='images/works/pc01.jpg')
                        div.overlay
                            span.name Custom PCs
                            p Hardware
                            div.link-icon <i class="icon-plus"></i>
                            //span.desc I have built several custom desktop computers for myself, my friends, and even my
                                | old high school.
                div.col-3.mt-3.mb-3.pl-0.pr-0(align='center')
                    a(href='https://github.com/eternali/AndroidProjects')
                        img.workpic(src='images/works/admonere01.png')
                        div.overlay
                            span.name Admonere
                            p Android App
                            div.link-icon <i class="icon-plus"></i>
                            //span.desc An Android app for automating the process of reminding others of events, things to
                                | do, and more using SMS.
                div.col-3.mt-3.mb-3.pl-0.pr-0(align='center')
                    a(href='https://github.com/eternali/tanks')
                        img.workpic(src='images/works/tanks01.png')
                        div.overlay
                            span.name Tanks
                            p Game Development
                            div.link-icon <i class="icon-plus"></i>
                            //span.desc A 2D python tank shooter game, built using pygame and based off a tutorial by
                                | theNewBoston.
                div.col-3.mt-3.mb-3.pl-0.pr-0(align='center')
                    a(href='#flappy')
                        img.workpic(src='images/works/flappy01.png')
                        div.overlay
                            span.name Population: Flappy
                            p Machine Learning
                            div.link-icon <i class="icon-plus"></i>
                            //span.desc A simulation of the popular game Flappy Birds which a genetic algorithm learns, in
                                | real time, to master.

    // CONTACT section //
    section#contact
        div.container-fluid.pt-5.pb-5
            div.row.mt-3
                div.col-12(align='left')
                    h1 Get In Touch
                    p Want to know more? Interested in my skills? Please do not hesitate to contact me!
            div.row
                div.col-8
                    form#contactForm(action='', method='post', name='contactForm')
                        fieldset
                            div.row
                                div.col-3(align='left')
                                    label(for='contactName') Name
                                div.col-8(align='left')
                                    input#contactName(type='text', value='', name='contactName')
                                div.col-1
                            div.row
                                div.col-3(align='left')
                                    label(for='contactEmail') Email
                                div.col-8(align='left')
                                    input#contactEmail(type='text', value='', name='contactEmail')
                                div.col-1
                            div.row
                                div.col-3(align='left')
                                    label(for='contactSubject') Subject
                                div.col-8(align='left')
                                    input#contactSubject(type='text', value='', name='contactSubject')
                                div.col-1
                            div.row
                                div.col-3(align='left')
                                    label(for='contactMessage') Message
                                div.col-8(align='left')
                                    textarea#contactMessage(rows='15', name='contactMessage')
                                div.col-1
                            div.row
                                div.col-3
                                div.col-8(align='left')
                                    input.submit(type='button', value='Submit', onclick='sendEmail()')
                                div.col-1
                div.col-4.aside-info
                    h4 More Contact Info
                    p Conrad Heidebrecht<br/>
                        | 67 Agnes Street<br/>
                        | Kitchener, ON N2G 2E9, Canada<br/>
                        | (519) 501-4327
                    div#emailresult

    // FOOTER //
    section#footer.mt-0.pt-0.pb-4
        div.container-fluid.mt-0.pt-0
            // scrolldown button
            //- div.row.mt-0.mb-0
            //-     div.col-12(align='center')
            //-         div#go-top
            //-             a.smoothscroll(href='#home', title='Back to Top')
            //-                 i.icon-up-circle
            div.row.mt-4.mb-4
                div.col-12.mt-5(align='center')
                    a(href='https://plus.google.com/+ConradHeidebrecht').ml-5.mr-5
                        i.fa.fa-google-plus.footer-social
                    a(href='https://github.com/eternali').ml-5.mr-5
                        i.fa.fa-github.footer-social
                    a(href='https://linkedin.com/in/conrad-heidebrecht-651395149').ml-5.mr-5
                        i.fa.fa-linkedin.footer-social
                    //a(href='#').ml-5.mr-5
                        i.fa.fa-skype.footer-social
            div.row.pt-5.pb-5
                div.col-12(align='center')
                    span.copyright &copy; Copyright 2018 Conrad Heidebrecht
