extends layout

block content
    script(src='javascripts/vertex.js')
    script(src='javascripts/background.js')

    div#canvasBackground
    label.switch#performance
        input(type='checkbox', checked='true', onchange='pause()')
        span.slider
