extends layout

block content
    script(src='javascripts/vertex.js')
    script(src='javascripts/background.js')

    // global background
    div#canvasBackground
    header#home
        // top navbar
        nav#nav-wrap
            ul#nav-custom
                li.current
                    a.smoothscroll(href='#home') Home
                li
                    a.smoothscroll(href='#about') About
                li
                    a.smoothscroll(href='#resume') Resume
                li
                    a.smoothscroll(href='#skills') Skills
                li
                    a.smoothscroll(href='#works') Works
                li
                    a.smoothscroll(href='#contact') Contact

            // toggle the dynamic background (it is pretty gpu intensive)
            // TODO: when toggle is hovered provide them with info about how to change settings
            label.switch#performance
                input(type='checkbox', checked='true', onchange='pause()')
                span.slider
        // main info banner
        div.banner-head
            h1.responsive-headline.title-name Conrad Heidebrecht
            // note for multiline raw text, either put a `.` after the tag, or start each new line with a `|`.
            h3 I'm a <a href='https://uwaterloo.ca/systems-design-engineering'>Systems Design Engineering</a> student
                | at the <a href='https://uwaterloo.ca'>University of Waterloo</a> with a passion for <span>web</span> &
                | <span>Android</span> development and <span>machine learning</span>. Let's
                | start scrolling and <a class='smoothscroll local' href='#about'>learn more</a>!
            hr
            ul.social
                li
                    a(href='https://github.com/eternali')
                        i.fa.fa-github
                li
                    a(href='https://linkedin.com/in/conrad-heidebrecht-651395149')
                        i.fa.fa-linkedin

        // scrolldown button
        p.scrolldown
            a.smoothscroll(href='#about')
                i.icon-down-circle

    // ABOUT section //
    section#about.pt-32.pb-32.mt-32.mb-32
        div.container-fluid
            div.row
                div.col-4
                div.col-4(align='center')
                    img.profile-pic(src='images/profilepic.png', alt='')
                div.col-4
            div.row
                div.col-8(align='left')
                    h2 About Me
                    p I am a Systems Design Engineering student at the University of Waterloo in my first year.
                        | My main interests are for web and Android development, computer hardware, cyber security,
                        | and machine learning. I have experience through the study of several online courses as
                        | well as creating several websites from scratch as well as coding browser based applications
                        | and games with HTML5 and libraries such as P5.js and Matter.js. I also have several personal
                        | Android applications in development and my knowledge is growing rapidly. I have been most
                        | recently fascinated with machine learning and artificial intelligence. I have taken several
                        | online courses on the subject and have researched and designed my own projects that
                        | demonstrate the power of machine learning.
                div.col-4(align='right')
                    h2 Contact Details
                    ul
                        li Conrad Heidebrecht
                        li 67 Agnes Street
                        li Kitchener, ON N2G 2E9, Canada
                        li (519) 501-4327
                        li <a href='mailto:crbheide@edu.uwaterloo.ca'>crbheide@edu.uwaterloo.ca</a>
            div.row
                div.col-4
                div.col-4(align='center')
                    p
                        a.button(href='public/resume.pdf') <i class='fa fa-download'>&emsp;Download Resume</i>
                div.col-4

    // RESUME section //
    section#resume
        div.container-fluid
            // FORMAL EDUCATION
            div.row.mb-5
                div.col-3.mt-5.resume-title(align='left')
                    h1 <span>Formal Education</span>
                div.col-9.formal-body(align='right')
                    ul.formal-education
                        li
                            div
                                h2 University of Waterloo
                                span.location Waterloo, ON
                            div
                                span.degree Candidate for Bachelor of Applied Science
                                span.date Sept. 2017 - present
                        li
                            div
                                h2 Rockway Mennonite Collegiate
                                span.location Kitchener, ON
                            div
                                span.degree Ontario Secondary School Diploma
                                span.date Jun. 2017
            div.row
                div.col-1
                div.col-10 <hr />
                div.col-1
            // SUPPLEMENTARY EDUCATION
            div.row.mb-5
                div.col-3.mt-5.resume-title(align='left')
                    h1 <span>Supplementary Education</span>
                div.col-9.supplementary-body(align='right')
                    ul.supplementary-education
                        li
                            h2 Neural Networks for Machine Learning
                            div
                                span.description University of Toronto via Coursera.org
                                span.date Jun. 2017 - present
                        li
                            h2 Machine Learning Course
                            div
                                span.description Stanford University via Coursera.org
                                span.date Jun. 2016 - Sept. 2016
                        li
                            h2 Biomedical Mini-Enrichment Course
                            div
                                span.description Carleton University
                                span.date May 2015
                        li
                            h2 Physics Mini-Enrichment Course
                            div
                                span.description University of Ottawa
                                span.date May 2013
            div.row
                div.col-1
                div.col-10 <hr />
                div.col-1
            // WORK
            div.row.mb-5
                div.col-3.mt-5.resume-title(align='left')
                    h1 <span>Work</span>
                div.col-9.work-body(align='right')
                    ul.work
                        li
                            h2 University of Waterloo Computer Museum
                            div
                                span.title Museum Technician
                                span.date Oct. 2016 - Sept. 2017
                            div.description
                                ul
                                    li <span class='lititle'>Collective Access:&nbsp;</span>
                                        | Collective Access is an open source software for managing and publishing
                                        | museum and archival collections.
                                    li <span class='lititle'>Server Administration:&nbsp;</span>
                                        | I set up multiple Ubuntu web servers for both testing and production purposes
                                        | as well as developed several custom scripts to streamline project installation
                                        | and backup, data import and export, and project configuration.

    // SKILLS section //
    section#skills
        div.container-fluid
            div.row.pt-5.pb-5
                div.col-12.mt-3(align='center') <h1>Skills</h1>
            // special three-way toggler
            div.row
                div.col-3
                div.col-6(align='center')
                    div.toggle3-container
                        div.range-field
                            input(type='range', name='points', onchange='toggleSkills(this);', min='0', max='2', value='1')
                div.col-3
            div.row
                div#langmsg.col-4.toggle3-msg(align='right') Languages
                div#bothmsg.col-4.toggle3-msg(align='center') Both
                div#techmsg.col-4.toggle3-msg(align='left') Technologies
            // start the icons
            div.row.mt-4
                div.col-2.mt-3.mb-3(align='center')
                    img.langpic(src='images/python.ico')
                div.col-2.mt-3.mb-3(align='center')
                    img.langpic(src='images/javascript.png')
                div.col-2.mt-3.mb-3(align='center')
                    img.langpic(src='images/kotlin.png')
                div.col-2.mt-3.mb-3(align='center')
                    img.langpic(src='images/java.png')
                div.col-2.mt-3.mb-3(align='center')
                    img.langpic(src='images/cpp.png')
                div.col-2.mt-3.mb-3(align='center')
                    img.langpic(src='images/tux.png')





