doctype html
html
    head
        meta(charset='utf-8')
        meta(name='description', content='Resume')
        meta(name='author', content='Conrad Heidebrecht')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

        title= title

        // JQuery
        script(src='javascripts/jquery-1.10.2.min.js')
        // Waypoints
        script(src='javascripts/waypoints.js')

        // Popper.js
        //script(src='javascripts/popper.min.js')

        // Bootstrap
        link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap-grid.min.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap-reboot.min.css')
        script(src='/javascripts/bootstrap/bootstrap.min.js')

        // P5.js
        script(src='javascripts/p5.min.js')
        script(src='javascripts/p5.dom.min.js')
        script(src='javascripts/p5.sound.min.js')

        link(rel='stylesheet', href='/stylesheets/default.css')
        link(rel='stylesheet', href='/stylesheets/layout.css')
        link(rel='shortcut icon', href='favicon.ico')

        script(src='javascripts/sendemail.js')

    body
        block content

        script(src='javascripts/vertex.js')
        script(src='javascripts/background.js')
        script(src='javascripts/init.js')
