@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,300,600,700,800");
body {
  display: table;
}
#canvasBackground {
  width: 100vw;
  height: 100vh;
  display: absolute;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -999;
}
.switch {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 6px;
  margin-right: 6px;
  width: 60px;
  height: 34px;
}
.switch input {
  display: none;
}
.slider {
  position: absolute;
  cursor: pointer;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  border-radius: 50%;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #00796b;
}
input:focus + .slider {
  box-shadow: 0 0 1px #00796b;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
#nav-wrap {
  font: 14px 'opensans-bold', sans-serif;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0 auto;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
}
#nav-wrap ul,
#nav-wrap li,
#nav-wrap a {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}
.opaque {
  background-color: #333;
}
ul#nav {
  min-height: 48px;
  width: auto;
  text-align: center;
}
ul#nav li {
  position: relative;
  list-style: none;
  height: 48px;
  display: inline-block;
}
ul#nav li a {
  display: inline-block;
  padding: 8px 13px;
  line-height: 32px;
  text-decoration: none;
  text-align: left;
  color: #fff;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
ul#nav li a:active {
  background-color: transparent !important;
}
ul#nav li a:hover {
  color: #70e9db;
}
ul#nav li.current a {
  color: #00796b;
}
header {
  margin: auto;
  width: 98vw;
  height: 90vw;
  border: 2px solid #fff;
}
header .banner-head {
  margin: auto;
  width: 100%;
  padding-bottom: 30px;
  text-align: center;
  border: 2px solid #fff;
}
header .banner-head h1 {
  font: 80px/1.1em 'Raleway', sans-serif;
  color: #fff;
  margin: auto;
  vertical-align: middle;
}
.title-name {
  text-transform: uppercase;
}
