// Global imports //
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,300,600,700,800)


// Root colors //
base = #00796B
hover-base = #70E9dB
hover-remote = #757575
hot-complement = #860707
sub-title = #A8A8A8

bg-main = #2B2B2B
bg-light = #fff

//  main body  //

body
    margin 0
    padding 0

a:hover
    text-decoration none


// main background and main custom toggles

#canvasBackground
    width 100vw
    height 100vh
    display absolute
    position fixed
    top 0
    left 0
    z-index -999

.switch
    position absolute
    top 0
    right 0
    margin-top 6px
    margin-right 6px
    width 60px
    height 34px

.switch input
    display none

.slider
    position absolute
    cursor pointer
    border-radius 34px
    top 0
    left 0
    right 0
    bottom 0
    background-color #ccc
    -webkit-transition .4s
    transition .4s

.slider:before
    position absolute
    border-radius 50%
    content ""
    height 26px
    width 26px
    left 4px
    bottom 4px
    background-color white
    -webkit-transition .4s
    transition .4s

input:checked + .slider
    background-color base

input:focus + .slider
    box-shadow 0 0 1px base

input:checked + .slider:before
    -webkit-transform translateX(26px)
    -ms-transform translateX(26px)
    transform translateX(26px)


//  NAVBAR  //

#nav-wrap
    font 14px 'opensans-bold', sans-serif
    width 100%
    text-transform uppercase
    letter-spacing 3px
    margin 0 auto
    z-index 100
    position fixed
    left 0
    top 0

#nav-wrap ul, #nav-wrap li, #nav-wrap a
    margin 0
    padding 0
    border none
    outline none

.opaque
    background-color #333

ul#nav-custom
    min-height 48px
    width auto
    text-align center

ul#nav-custom li
    position relative
    list-style none
    height 48px
    display inline-block

ul#nav-custom li a
    display inline-block
    padding 8px 13px
    line-height 32px
    text-decoration none
    text-align left
    color #fff

    -webkit-transition color .2s ease-in-out
    -moz-transition color .2s ease-in-out
    -o-transition color .2s ease-in-out
    -ms-transition color .2s ease-in-out
    transition color .2s ease-in-out

ul#nav-custom li a:active
    background-color transparent !important

ul#nav-custom li a:hover
    color hover-base

ul#nav-custom li.current a
    color base


//  HOME  //

header
    //min-width 100vw  // screws up the width for some reason
    min-height 100vh
    display flex
    align-items center
    margin auto

header .banner-head
    margin auto
    display inline-block
    align-items center
    padding-bottom 30px
    text-align center

header .banner-head h1
    font-family 'Raleway', sans-serif
    font-weight 400
    font-size 4.4em
    letter-spacing .3em
    color #fff
    margin 32px auto
    height 100%

// name animations
.letterDrop
    position relative
    top -4.75em
    display inline-block
    text-transform uppercase
    opacity .8
    transform rotateX(-90deg)
    animation letterDrop 1.2s ease 1 normal forwards

@keyframes letterDrop
    10%
        opacity .5
    20%
        opacity .8
        top -1.75em
        transform rotateX(-360deg)
    100%
        opacity 1
        top -.75em
        transform rotateX(360deg)

header .banner-head h1 span:nth-child(n)
    color base
    font-weight 400

header .banner-head h1 span:nth-child(-n+6)
    color hot-complement
    font-weight 800
    letter-spacing .25em

// header description
header .banner-head h3
    font-family 'librebaskerville-regular', serif
    font-size 1.6em
    color sub-title
    width 60%
    margin auto
    text-shadow 0 1px 2px rgba(0, 0, 0, .5)

header .banner-head h3 a
header .banner-head h3 span
    color #fff

header .banner-head h3 a:hover
    color hover-remote
header .banner-head h3 .local:hover
    color hover-base

// header divider
header .banner-head hr
    width 50%
    margin 28px auto 28px auto
    border-color rgba(150, 150, 150, .6)

// social media icons
.social
    margin 24px 0
    padding 0
    font-size 30px
    text-shadow 0 1px 2px rgba(0, 0, 0, .8)

.social li
    display inline-block
    margin 0 15px
    padding 0

.social li a
    color #fff

.social li a:hover
    color hover-base

// scrolldown buttons
.scrolldown a
    position absolute
    bottom 30px
    left 50%
    margin-left -29px
    color #fff
    display block
    height 42px
    width 42px
    font-size 42px
    line-height 42px
    border-radius 100%

    -webkit-transition all .3 ease-in-out
    -moz-transition all .3 ease-in-out
    -o-transition all .3 ease-in-out
    transition all .3 ease-in-out

.scrolldown a:hover
    color base


//  ABOUT  //

#about
    background bg-main
    padding 0
    margin 0

#about .profile-pic
    position relative
    min-width 200px
    min-height 200px
    border-radius 100%
    background base
    margin 52px auto 32px auto

#about h2
    font-family 'opensans-bold', sans-serif
    font-size 1.8em
    color sub-title

#about a
    color #A8A8A8

#about a:hover
    color hover-remote

#about .button
    background base
    color #fff
    font-family sans-serif
    font-size 1.2em

#about .button:hover
    background #fff
    color base


//  RESUME  //

#resume
    background bg-light
    padding 2em 0

#resume .col-2
    margin-left -2em

#resume .col-8
    margin-right -2em

// Formal Education
#resume resume-title
    padding 0
    font-family 'opensans-bold', sans-serif
    font-size 1.4em
    font-weight 600
    color sub-title


