<!doctype html>
<html>
<head>
    <!-- Basic page requirements -->
    <meta charset="utf-8">
    <title>Profile - Conrad Heidebrecht</title>
    <meta name="description" content="resume">
    <meta name="author" content="Conrad Heidebrecht">

    <!-- Google verification -->
    <meta name="google-site-verification" content="pJCe53A1CFvWOj--uDvlQoahTsHtw6GoEUksCg_r8DM" />

    <!-- Favicon requirements -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">

    <!-- Mobile specific requirements -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS requirements -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/') }}">

    <!-- Script requirements -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/') }}"></script>
</head>
<body>
    <!-- Header -->
    <header id="home">


    </header>

</body>
</html>
